################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/last_run'n_gun_hero/.vs
/Minimal Dev/last_run'n_gun_hero/.vs/VSWorkspaceState.json
/Minimal Dev/last_run'n_gun_hero/.vs/slnx.sqlite
/Minimal Dev/last_run'n_gun_hero/.vs/ProjectSettings.json
/Minimal Dev/last_run'n_gun_hero/.vs/last_run'n_gun_hero/v15/.suo
